.back{
	position:fixed;
	background-color: #6441a5;
	background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
	width:100%;
	height:100%;
	
	padding 0;
	margin: 0;
	
	top:0;
  down:0;
  left:0;
  right:0;
	overflow:hidden;
}

#userListContainer{
	position:absolute;
	
	width:400px;
	height:370px;
	
	background-color:white;
	left:470px;
	top:170px;
	
}

#shadow_top{
	position: relative;
  z-index: 2;
	
  -moz-box-shadow:0px 10px 10px -10px #000 inset;
  -webkit-box-shadow:0px 10px 10px -10px #000 inset;
  box-shadow:0px 11px 15px -10px #000 inset;

  height: 20px;
  margin-bottom: -20px;
  margin-right: 0px;
}

#shadow_bottom{
	position: relative;
  z-index: 2;
	
  -moz-box-shadow:0px 10px 10px -10px #000 inset;
  -webkit-box-shadow:0px 10px 10px -10px #000 inset;
  box-shadow:0px -10px 10px -10px #000 inset;
	margin-top:-10px;
  height: 10px;
  margin-bottom: -20px;
  margin-right: 0px;
	top:0;
	bottom:0;
}

.results{
	position:relative;
	background-color:#ddccff;
	width:300px;
	height:55px;
	margin-top:2px;
	margin-left:30px;
	padding:10px;
	border: 4px solid #884dff;
	overflow:hidden;
  text-overflow:ellipse;
	transition-duration:0.2s;
	
	
}

.results:hover{
	-webkit-box-shadow: -1px 3px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 3px 10px 0px rgba(0,0,0,0.75);
box-shadow: -1px 3px 10px 0px rgba(0,0,0,0.75);
}

div[id^="entry"] {
	top:10px;
	
}


img[id^="user_logo"] {
  position:absolute;
	height:50px;
	width:50px;
	border: 2px solid #6441a5;
	top:10px;
}

.headers{
	margin-left:65px;
	margin-top:2px;
	font-family: 'Aldrich', sans-serif;
	font-size:18px;
}

.sub_headers{
	position:absolute;
	top:30px;
	left:90px;
	font-family: 'Aldrich', sans-serif;
	font-size:13px;
	color:#4c4c4c;
	
}

.invalid_channel{
	margin-left:8px;
	margin-top:19px;
	font-family: 'Aldrich', sans-serif;
	font-size:15px;
}

#userList{
	overflow:auto;
  margin:0 auto;
	width:400px;
  height:370px;
	
}

#space{
	position:relative;
	height:50px;
	
}

.btn{
	position:relative;
	color:white;
	background:transparent;
	border: 4px solid white;
	padding:10px;
	font-family: 'Aldrich', sans-serif;
	font-size:15px;
}

.btn:hover{
	border: 4px solid #cc99ff;
}

.btn:active{
	border: 4px solid #884dff;
}

#offline_users{
	top:115px;
	left:470px;
	width:120px;
}

#online_users{
	top:115px;
	left:485px;
	width:120px;
}

#all_users{
	top:115px;
	left:502px;
	width:120px;
}

.status_offline {
	position:absolute;
    display: block;
  width: 8px;
  height: 8px;
  background-color: rgb(226,0,0);
  box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.5),
        0px 0px 3px 2px rgba(226,0,0,0.5);
  border-radius: 4px;
  clear: both;
  bottom: 0;
  left: 77px;
	top:47px;
}

.status_online {
	position:absolute;
    display: block;
  width: 8px;
  height: 8px;
  box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.5),
        0px 0px 3px 2px rgba(135,187,83,0.5);
  background-color: rgb(135,187,83);
  border-radius: 4px;
  clear: both;
  bottom: 0;
  left: 77px;
	top:46px;
}

#title{
	position:absolute;
	font-family: 'Aldrich', sans-serif;
	font-size:45px;
	font-weight:bold;
	color:white;
	top:15px;
	left:420px;
}

#sub_title{
	position:absolute;
	font-family: 'Aldrich', sans-serif;
	font-size:12px;
	font-weight:bold;
	color:white;
	top:60px;
	left:600px;
}